<div class="container">
    <div class="form-container">
      <div class="search-container">
        <mat-form-field class="search-field">
          <input matInput placeholder="Ingresar nombre">
        </mat-form-field>
        <button mat-raised-button color="primary" class="search-button">Buscar</button>
      </div>
    </div>
  
    <img src="./assets/fotodeperfil.jpg" alt="Imagen de usuario" class="user-image">
    
    <div class="datos">
      <h2>Usuario: Angelo Rubio</h2>
      <p>Edad: 24</p>
      <p>Email: angelo@example.com</p>
      <p>Cargo: Ingeniero de Software</p>
    </div>
  </div>
  
