<nav class="navbar bg-black" data-bs-theme="dark">
  <div class="container-fluid">
    <ul class="inline-nav">
      <li>
        <a class="btn text-white" routerLink="/buscar">Buscador</a>
      </li>
      <li>
        <a class="btn text-white" routerLink="/eliminar">Eliminar</a>
      </li>
      <li>
        <a class="btn text-white" routerLink="/lista">Lista</a>
      </li>
      <li>
        <a class="btn text-white" routerLink="/modificar">Modificar</a>
      </li>
      <li>
        <a class="btn text-white" routerLink="/registrar">Registrar</a>
      </li>
    </ul>
    <button class="btn btn-primary position-relative ms-3">
      Inbox
      <span class="position-absolute top-0 end-3 translate-middle badge rounded-pill bg-danger">
        99+
        <span class="visually-hidden">nuevas notificaciones</span>
      </span>
    </button>
    
  </div>
</nav>
