.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
  }
  
  .form-container {
    width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .button-container {
    text-align: right;
  }
  
  .cancel-button {
    margin-right: 10px;
  }
  
  .register-button {
    background-color: #007bff;
  }
  